<div class="container"
     *ngIf="(team$ | async) as team">
    <div class="py-5">
        <h2>Manage Team </h2>
        <h3>{{team.name }}</h3>
    </div>
    <div class="form-group">
        <label for="currentUrl">Mange Team URL(Private)</label>
        <input id="currentUrl"
               readonly
               type="text"
               width="50em"
               value="{{currentUrl}}">
    </div>
    <user-list [users]="users$ |async"></user-list>

    <button (click)="addUser()">Add User</button>

</div>