<!--The content below is only a placeholder and can be replaced.-->

<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Coffee Time</h3>
    <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link active" [routerLink]="['/']">Home</a>
      <a class="nav-link" [routerLink]="['/create-team']">Create Team</a>
      <a class="nav-link" [routerLink]="['/about']">About</a>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="mastfoot mt-auto">
  <div class="inner">
    <p>Cover template for
      <a href="https://getbootstrap.com/">Bootstrap</a>, by
      <a href="https://twitter.com/mdo">@mdo</a>.</p>
  </div>
</footer>